.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

label {
  font-size: larger;
}
input {
  width: 300px;
  height: 35px;
  font-size: larger;
}

button {
  width: 150px
}

